.wrapper{
  font-size: 1.2vw;
  font-family: Helvetica;
  margin: 5vw;
}
.wrapper > h1{
  font-size: 3vw;
  text-align: center;
}

.opened {
  margin: 1vw;
  margin-top: 1vw;
  padding: 1vw;
  padding-top: 0vw;
  border: solid 1.5px black;
  border-radius: 2px;
}